/* Button */
.default-button {
  background-color: var(--button-background-colour);
  
  -moz-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  -ms-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;

  border: solid 1px var(--ca-gray-300);
  border-radius: 0.5em;

  cursor: pointer;
  display: inline-block;

  min-width: 8.5em;
  height: 2.8em;
  line-height: 2.65em;

  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--ca-gray-600);
}

.default-button:hover {
  border-color: var(--button-border-hover-colour);
  box-shadow: 0px 0px 0px 4px var(--bs-primary-bg-subtle);
  color: var(--button-text-hover-colour);
}

.default-button:active {
  border-color: var(--button-border-hover-colour);
  box-shadow: 0px 0px 0px 4px var(--bs-primary-bg-subtle);
  color: var(--button-text-hover-colour);
}

@media screen and (max-width: 576px) {
  .default-button {
    width: 100%;
  }
}

/* Margins */
#cv-button {
  margin-top: 2em;
}