/* CSS - JAVASCRIPT MENU BAR */
.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
	margin: 0.6em 0 0.6em 0;
  cursor: pointer;
}

.menu-btn span {
	display: block;
	color: var(--menu-button-default-colour);
	border: solid 1px var(--menu-button-default-colour);
	border-radius: 0.2em;
	padding: 0.1em 0.2em;
	font-size: 1.75em;
}

.menu-btn span:hover {
  color: var(--menu-button-hover-colour);
	border-color: var(--menu-button-hover-colour);
}

.menu-btn span:active {
	border-color: var(--menu-button-alt-hover-colour);
}

.menu-list {
  list-style: none;
}

.menu-list li {
  line-height: normal;
}

li.menu-link a {
  font-family: var(--default-font);
  font-size: 0.95em;
	line-height: 1.75em;
  color: var(--link-base-colour);
  border-bottom: none;

  transition: 0.0s; /* Slide menu */
}

li.menu-link a:hover {
  color: var(--link-hover-colour);
}

li.menu-link a.active {
  color: var(--link-active-colour);
}

/* XXLarge */
.menu-btn {
	display: none;
}

.menu-list {
	color: var(--menu-link-colour);
	padding: 0em;
	margin: 0em;
	height: auto; /* For slide menu */
	overflow-y: visible; /* For slide menu */
	transition: 0.0s; /* For slide menu */
}

#content>section {
	scroll-margin-top: 73px;
}

#content>section:first-child {
	scroll-margin-top: 149px;
}

/* XXL */
@media screen and (max-width: 1800px) {

	.menu-btn {
		display: none;
	}

	.menu-list {
		padding: 0em;
		margin: 0em;
		height: auto; /* For slide menu */
		overflow-y: visible; /* For slide menu */
		transition: 0.0s; /* For slide menu */
	}

	#content>section {
		scroll-margin-top: 62px;
	}
	
	#content>section:first-child {
		scroll-margin-top: 129px;
	}
}

/* XL */
@media screen and (max-width: 1280px) {

	.menu-btn {
		display: none;
	}

	.menu-list {
		padding: 0em;
		margin: 0em;
		height: auto; /* For slide menu */
		overflow-y: visible; /* For slide menu */
		transition: 0.0s; /* For slide menu */
	}

	#content>section {
		scroll-margin-top: 30px;
	}

	#content>section:first-child {
		scroll-margin-top: 100px;
	}
}

/* L */
@media screen and (max-width: 980px) {

	#header .title {
		margin: 0.7em 0 0 0;
		flex-direction: row;
	}

	/* #header h3 {
		color: var(--header-base-colour);
		margin-bottom: 0;
		font-size: 0.81em;
		line-height: 0em;
		padding: 0 0 0 0;
		margin: 2.7em 0 0 0.8em;
	} */

	.menu-btn {
		display: inline;
	}

	.menu-list {
		height: 0px; /* Close the menu bar */
		overflow-y: hidden; /* For slide menu */
		transition: 0.4s; /* For slide menu */
	}

	#content>section {
		scroll-margin-top: 30px;
	}

	#content>section:first-child {
		scroll-margin-top: 100px;
	}
}

/* M */
@media screen and (max-width: 736px) {

	/* div.inner h2 {
		padding: 0.2em 0em 0em 0em;
		font-size: 2em;
	}*/

	/* div.title h3 {
		display: none;
	} */
	
	.menu-btn {
		display: inline;
	}

	.menu-list {
		height: 0px; /* Close the menu bar */
		overflow-y: hidden; /* For slide menu */
		transition: 0.4s; /* For slide menu */
	}


	#content>section {
		scroll-margin-top: 50px;
	}

	#content>section:first-child {
		padding-top: 55px;
	}
}

/* S */
@media screen and (max-width: 480px) {

	/* div.inner h2 {
		padding: 0.4em 0em 0em 0em;
		font-size: 1.7em;
	} */
}