.accordion {
  --bs-accordion-color: var(--default-font-colour); /* accordion item */
  --bs-accordion-btn-color: var(--default-header-font-colour);
  --bs-accordion-btn-padding-y: 0;
  --bs-accordion-btn-padding-x: 0.2em;

  /* --bs-accordion-btn-icon: url("");
  --bs-accordion-btn-active-icon: url(""); */

  --bs-accordion-body-padding-x: 0.1em;
  --bs-accordion-body-padding-y: 0.2em;

  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: var(--button-text-hover-colour);
  --bs-accordion-active-bg: white; /* button active background */

  --bs-accordion-btn-icon-width: 1em;

  font-size: 2em;
}

.accordion-button {
  font-family: var(--default-font);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 0.45em;
  color: var(--default-header-font-colour);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button:hover {
  border-color: var(--button-border-hover-colour);
  /* box-shadow: var(--button-box-shadow); */
  color: var(--button-text-hover-colour);
}

.accordion-button-no-body {
  font-family: var(--default-font);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 0.45em;
  color: var(--default-header-font-colour);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-items h5 {
  color: var(--default-font-colour);
  font-family: var(--default-font);
  font-size: 0.4em;
  line-height: 1.75;
  margin: 0;
}