{% extends "base.html" %}
{% block title %}DAVID PARKER Engineer - Programmer - Developer{% endblock %}

{% block content %}
{% include 'modals.html' %}

<div id="header">
  <div class="inner">
    <div class="title">
      <h1>DAVID PARKER</h1>
      <h3>Engineer - Programmer - Developer</h3>
    </div>
    {% include 'menu.html' %}
  </div>
</div>

<div id="content">
  <section id="about">
    <h2>ABOUT ME</h2>
    <p>From the moment I first programmed my ZX Spectrum as a child, I have been fascinated by the possibilities of
      technology. From building radio-controlled aircraft to crafting FM radio transmitters (If I was not taking my mums
      hoover apart!). This early passion started a lifelong journey into the world of electrical-mechanical engineering,
      CNC control systems and industrial robots. All while continuing my obsession with software development and
      programming languages.
      Throughout my professional career, I have honed my critical thinking skills and cultivated a deep understanding of
      both hardware and software systems. My experience in electrical and mechanical engineering provided a solid
      foundation for logical thinking and problem solving, which seamlessly transitioned into programming and
      application
      development.</p>
      <button type="button" class="default-button">Download CV</button>
      <!-- Trigger the modal with a button -->
      <button type="button" class="default-button" data-bs-toggle="modal" data-bs-target="#message-modal">Open modal</button>
  </section>

  <section id="projects">
    <h2>PROJECTS</h2>
    <p>A number of different projects.</p>
  </section>

  <section id="competences">
    <h2>COMPETENCES</h2>
    <p>A list of all of my skills and competences.</p>
  </section>

  <section id="contact">
    <h2>CONTACT ME</h2>
    <p>If you have any questions or would like to get in touch, please feel free to contact me</p>
  </section>
</div>

<div id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://www.linkedin.com/in/david-parker-645108329" class="icon fa-solid fa-brands fa-linkedin">
          <span class="label">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/Mr006698" class="icon fa-solid fa-brands fa-github">
          <span class="label">Github</span>
        </a>
      </li>
      <li>
        <a href="mailto:parkers.postbox@gmail.com" class="icon fa-solid fa-envelope">
          <span class="label">Email</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>
        &copy; David Parker {{ year }}
      </li>
      <li>
        <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}