<nav class="menu" id="menu-response">
  <button class="menu-btn" onclick="openMenu()" id="menu-button">
    <span class="icon fa-solid fa-bars"></span>
  </button>

  <div class="menu-list" id="menu-dropdown">
    <li class="menu-link">
      <a class="menu-item active" href="#about" onclick="">About Me</a>
    </li>
    <li class="menu-link">
      <a class="menu-item" href="#projects" onclick="">Projects</a>
    </li>
    <li class="menu-link">
      <a class="menu-item" href="#competences" onclick="">Competences</a>
    </li>
    <li class="menu-link">
      <a class="active" href="#contact" onclick="">Contact Me</a>
    </li>
  </div>
</nav>