<!-- Modal -->
<div class="modal modal-sheet fade p-4 py-md-5" id="message-modal" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <!-- Modal header -->
      <div class="modal-body p-4 text-center">
        <h2 class="message-title mb-0">UNDER DEVELOPMENT</h2>
        <p class="message-content mb-0">Content may be missing or incomplete.</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer flex-nowrap p-0 justify-content-center">
        <button type="button" class="btn btn-lg fs-6 text-decoration-none col py-3 m-0 rounded-0" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>