<!-- Modal -->
<div class="modal fade p-2" id="message-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-4 shadow">

      <!-- Modal body -->
      <div class="modal-body p-4 text-center">
        <div class="message-icon">
          <span class="fa-solid fa-meteor" id="modal-icon"></span>
        </div>
        <h2 class="message-title">UNDER DEVELOPMENT</h2>
        <p class="message-content mb-0">Content may be missing or incomplete.</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer bg-transparent flex-nowrap p-0 justify-content-center">
        <button type="button" class="btn fs-6 text-decoration-none col py-3 m-0 rounded-0" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>