<!-- Modal -->
<div class="modal modal-sheet fade" id="message-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <!-- Modal header -->
      <div class="modal-body flex-column text-center">
        <h2>WEBSITE UNDER DEVELOPMENT</h2>
        <p>Some content may be missing or incomplete.</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer justify-content-center bg-secondary-subtle">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col py-1 m-0 rounded-0" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>