<div class="row row-cols-1 row-cols-sm-2 g-4">

  <div class="col">
    <div class="card project-button">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        role="img" reserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <a href="#"><rect width="100%" height="100%" fill="#e0e0e0"></rect></a>
      </svg>
      <div class="card-body">
        <p class="card-text">Statistical analysis of lottery numbers using Beautiful Soup, Pandas and NumPy.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card project-button">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        role="img" reserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <a href="#"><rect width="100%" height="100%" fill="#e0e0e0"></rect></a>
      </svg>
      <div class="card-body">
        <p class="card-text">Prototype one-handed mouse controller developed in Unreal Engine with C++."</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card project-button">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        role="img" reserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <a href="#"><rect width="100%" height="100%" fill="#e0e0e0"></rect></a>
      </svg>
      <div class="card-body">
        <p class="card-text">Coming soon.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card project-button">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        role="img" reserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <a href="#"><rect width="100%" height="100%" fill="#e0e0e0"></rect></a>
      </svg>
      <div class="card-body">
        <p class="card-text">Projects in development.</p>
      </div>
    </div>
  </div>

</div>