<div class="row g-4 row-cols-1 row-cols-sm-2">

  <div class="col align-items-start">
    <div class="accordion accordion-flush" id="accordion-skills">

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#ms-heading-one">
            CNC Machine Operation
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="ms-heading-one" data-bs-parent="#accordion-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>Fanuc Control Systems</h5>
                <h5>XYZ Control Systems</h5>
                <h5>5 Axis CNC</h5>
                <h5>CNC Lathes</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#ms-heading-three">
            Quality Inspection
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="ms-heading-three" data-bs-parent="#accordion-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>CMM Measurement</h5>
                <h5>Surface Finish Inspection</h5>
                <h5>Precision Measuring Processes</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#ms-heading-eight">
            ERP Systems
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="ms-heading-eight" data-bs-parent="#accordion-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>SAP ERP Software</h5>
                <h5>Tulip Software</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#ms-heading-four">
            Robotics Integration
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="ms-heading-four" data-bs-parent="#accordion-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>Fanuc Robotics</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Manufacturing Technologies
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Lean Manufacturing Practices
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Material Processing
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Technical Documentation
          </button>
        </h4>
      </div>

    </div>
  </div>

  <div class="col align-items-start">
    <div class="accordion accordion-flush" id="accordion-code-skills">

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#cs-heading-one">
            Python
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="cs-heading-one" data-bs-parent="#accordion-code-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>Flask</h5>
                <h5>Jinja</h5>
                <h5>Beautiful Soup</h5>
                <h5>RESTful API</h5>
                <h5>SQL - SQLite</h5>
                <h5>Pandas</h5>
                <h5>Numpy</h5>
                <h5>SciPy</h5>
                <h5>Matplotlib - Seaborn</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Git, Github
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            C++
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button-no-body" disabled>
            Javascript, HTML, CSS
          </button>
        </h4>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#cs-heading-four">
            Microsoft 365 (Office)
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="cs-heading-four" data-bs-parent="#accordion-code-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>Microsoft Word</h5>
                <h5>Microsoft Excel</h5>
              </div>
            </div>
          </div>
      </div>

      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#cs-heading-five">
            Unreal Engine
          </button>
        </h4>
          <div class="accordion-collapse collapse" id="cs-heading-five" data-bs-parent="#accordion-code-skills">
            <div class="accordion-body">
              <div class="accordion-items">
                <h5>C++</h5>
                <h5>Blueprints</h5>
                <h5>Material Shaders</h5>
                <h5>Niagara</h5>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="col-2">
      <span class="flex-shrink-0 me-3 fs-3 fa-solid fa-gears" id="mech-skills-icon"></span>
    </div>
    <div class="col align-items-start">
      <div class="accordion accordion-flush" id="accordion-skills">

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#ms-heading-one">
              CNC Machine Operation
            </button>
          </h4>
            <div class="accordion-collapse collapse" id="ms-heading-one" data-bs-parent="#accordion-skills">
              <div class="accordion-body">
                <div class="accordion-items">
                  <h5>Fanuc Control Systems</h5>
                  <h5>XYZ Control Systems</h5>
                  <h5>5 Axis CNC</h5>
                  <h5>CNC Lathes</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#ms-heading-three">
              Quality Inspection
            </button>
          </h4>
            <div class="accordion-collapse collapse" id="ms-heading-three" data-bs-parent="#accordion-skills">
              <div class="accordion-body">
                <div class="accordion-items">
                  <h5>CMM Measurement</h5>
                  <h5>Surface Finish Inspection</h5>
                  <h5>Precision Measuring Processes</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#ms-heading-eight">
              ERP Systems
            </button>
          </h4>
            <div class="accordion-collapse collapse" id="ms-heading-eight" data-bs-parent="#accordion-skills">
              <div class="accordion-body">
                <div class="accordion-items">
                  <h5>SAP ERP Software</h5>
                  <h5>Tulip Software</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#ms-heading-four">
              Robotics Integration
            </button>
          </h4>
            <div class="accordion-collapse collapse" id="ms-heading-four" data-bs-parent="#accordion-skills">
              <div class="accordion-body">
                <div class="accordion-items">
                  <h5>Fanuc Robotics</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button-no-body" disabled>
              Manufacturing Technologies
            </button>
          </h4>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button-no-body" disabled>
              Lean Manufacturing Practices
            </button>
          </h4>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button-no-body" disabled>
              Material Processing
            </button>
          </h4>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button-no-body" disabled>
              Technical Documentation
            </button>
          </h4>
        </div>

      </div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-2">
      <span class="flex-shrink-0 me-3 fs-4 fa-solid fa-code" id="code-skills-icon"></span>
    </div>
    <div class="col align-items-start">
      <div class="accordion accordion-flush" id="accordion-code-skills">

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#cs-heading-one">
              Python
            </button>
          </h4>
            <div class="accordion-collapse collapse" id="cs-heading-one" data-bs-parent="#accordion-code-skills">
              <div class="accordion-body">
                <div class="accordion-items">
                  <h5>Flask</h5>
                  <h5>Jinja</h5>
                  <h5>Beautiful Soup</h5>
                  <h5>RESTful API</h5>
                  <h5>SQL - SQLite</h5>
                  <h5>Pandas</h5>
                  <h5>Numpy</h5>
                  <h5>SciPy</h5>
                  <h5>Matplotlib - Seaborn</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button-no-body" disabled>
              C++
            </button>
          </h4>
        </div>

      </div>
    </div>
  </div> -->

  <!-- <div class="col d-flex align-items-start">
    <span class="flex-shrink-0 me-3 fs-3 fa-solid fa-code" id="code-skills-icon"></span>
    <div>
      <ul class="list-group">
        <li class="list-group-item border-0">Python</li>
        <li class="list-group-item border-0">C++</li>
        <li class="list-group-item border-0">Microsoft 365 (Office)</li>
        <li class="list-group-item border-0">Git - Github</li>
        <li class="list-group-item border-0">CSS - HTML - Javascript</li>
        <li class="list-group-item border-0">Unreal Engine</li>
      </ul>
    </div>

  </div> -->
</div>